<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Testing With Payh Parameters</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>Page with path parameter equal 1</ion-card-header>
    <ion-card-content>
      <a [routerLink]="['/test-path', 1]">Link</a>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>Page with path parameter equal 2</ion-card-header>
    <ion-card-content>
      <a [routerLink]="['/test-path', 2]">Link</a>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>Page with path parameter equal a variable</ion-card-header>
    <ion-card-content>
      <a [routerLink]="['/test-path', this.id]">Link</a>
    </ion-card-content>
  </ion-card>
</ion-content>
